#menuBtn{
    position: absolute;
    z-index: 1;
    color: rgba(255, 255, 255, 0.63);
    top:45px;
    left: 5px;
    font-size: 30px;
    border-radius: 50px;
    padding: 15px;
}

#menuBtn:hover{
    color: rgb(228, 132, 115);
    cursor: pointer;
}
#menu{
    position: absolute;
    width: 175px;
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0.068); */
    transition: 0.5s;
}
#menu.active{
    width: 75px;
    /* border-right: rgba(255, 255, 255, 0.301) solid thin; */
}
#menuList{
    padding-top: 75px;
    color: rgba(255, 255, 255, 0.63);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#menuList.active{
    visibility: hidden;
    height: 0px;
}
#menuList ul{
    list-style: none;
    padding: 0;
}
.project{
    border-top: rgba(255, 255, 255, 0.63) solid thin;
}
.project a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.63)
}
.project p{
    padding-left: 10px;
}
.project p:hover{
    background-color: rgba(245, 245, 245, 0.363);
    cursor: pointer;
}
.projectList li{
    padding-left: 40px !important;
    padding-right: 10px !important;
    font-size: 17px;
    width: fit-content;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.projectList li:hover{
 background-color: rgba(245, 245, 245, 0.363);
 cursor: pointer;
}
#menuList1{
    visibility: hidden;
    color: white;
}
#menuList1.active{
    visibility: visible;
}
#menuList1 ul{
    list-style: none;
    padding: 0;
    width: fit-content;
    display: block;
    margin: auto;
    
}
.projectIcon{
    font-size: 30px;
    margin-bottom: 20px;
}
.projectIcon:hover{
    color:rgb(228, 132, 115)
}
.projectIcon a{
    color:rgba(245, 245, 245, 0.596);
}

@media screen and (max-width: 1000px){

    #menu{
        width: 150px;
    }
   }
@media screen and (max-width: 750px){
    #menuBtn{
        padding: 5px;
    }
    #menu{
        width: 150px;
    }
    #menu.active{
        width: 50px;
    }
}
@media screen and (max-width: 500px){
    #menu{
        width: 200px;
        background-color: rgba(7, 7, 7, 0.856);
        position: fixed;
        right: 0;
        top:0;
    }
    #menu.active{
        width: 0px;
    }
    #menuBtn{
        font-size: 20px;
        top: 10px;
        right: 15px;
        left: auto;
        
    }
    #menuList{
        color: rgba(255, 255, 255, 0.849);
        padding-top: 0px;
    }
    #menuList1.active{
        visibility: hidden;
    }

}