#portfolioArea{
    position: absolute;
    width: 100%;
    height: 85vh;
}

#display{
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    padding-top: 25px;
    padding-left: 175px;
    padding-right: 100px;
    transition: 0.5s;
}
#display.active{
    padding-left: 125px;
}
#displayArea{
    width: 100%;
    /* max-width: 1200px; */
    height:100%;
    background-color: rgba(51, 51, 51, 0.246);
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 10px;
}
#displayArea .col-9{
    padding-right: 0;
}
#displayArea .col-3{
    padding-left: 0;
}
#displayArea img{
    width: 100%;
}
#projectHeader{
    width: 100%;
    background-color: rgba(42, 42, 42, 0.808);
}
#projectTitle{
    width: fit-content;
    /* display: block;
    margin: auto; */
    margin-left: 50px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgba(255, 255, 255, 0.774);
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 30px;
 
}
#projectTitle p{
    margin-bottom: 0;
}
#gifArea{
    background-color: rgba(255, 255, 255, 0);
}
#gifRow{
    max-width: 1400px;
    display: block;
    margin: auto;
    margin-top: 20px;
    
    /* background: url('./assets/floorShadow.png');
    background-position: bottom;
    background-size: cover; */
}
#monitorGif:hover{
    cursor: pointer;
}

#phoneGif{
    padding-top: 5vw;
    padding-left: 0;
}
#phoneGif:hover{
    cursor: pointer;
}
#monitorFull{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.712);
    visibility: hidden;
}
#monitorFull.active{
    visibility: visible;
}
#phoneFull img{
    /* max-width: 100vw; */
    max-height: 100vh;
    max-width: 100vw;
    width: auto;
    display: block;
    margin: auto;
}
#phoneFull{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.842);
    visibility: hidden;
}
#phoneFull.active{
    visibility: visible;
}
#monitorFull img{
    /* max-width: 100vw; */
    max-height: 100vh;
    max-width: 100vw;
    width: auto;
    display: block;
    margin: auto;
}
.exitBtn{
    color: rgb(253, 253, 253);
    position: absolute;
    z-index: 0;
    font-size: 30px;
    /* font-weight: lighter; */
    top: 5px;
    right: 5px;
}
.exitBtn:hover{
    cursor: pointer;
}
@media screen and (max-width: 1000px){

 #projectTitle{
    font-size: 25px;
    }
    #display{
        padding-left: 150px;
    }
 
}
@media screen and (max-width: 750px){

    #display{
        padding-left: 150px;
        padding-right: 75px;
    }
    #display.active{
        padding-left: 75px;
    }
    #projectTitle{
        font-size: 20px;
        margin-left: 25px;
        padding-top: 10px;
    }
     #gifRow{
        margin-top: 10px;
    }

}
@media screen and (max-width: 500px){
    #display{
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 40px;
    }
    #display.active{
        padding-left: 0px;
    }
    #monitorFull img{
        padding-top: 200px;
    }
    #phoneFull img{
        margin-top: 50px;
    }
   
 
}
#displayArea::-webkit-scrollbar {
    width: 10px;
    }
    
    #displayArea::-webkit-scrollbar-track {
        background-color: none;
       
   
       
    }
    
    #displayArea::-webkit-scrollbar-thumb {
        background-color:  rgba(80, 139, 207, 0.637);   
        border-radius: 5px;
        border-top-left-radius: 0px;
    }

#fillerSpot{
    background-color: rgba(42, 42, 42, 0.808);
}