
body {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url('./assets/Space.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
